# Entorno virtual
.venv/
venv/

# Archivos de Python
__pycache__/
*.py[cod]
*.pyo

# Archivos de log
*.log

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de modelo
*.pkl

# Otros temporales
*.bak
