# ⛔ Entorno virtual
.venv/
venv/
ENV/

# ⛔ Archivos de entorno
.env
./.env

# 🧠 Cache y archivos de compilación
__pycache__/
*.py[cod]
*.so

# 🚫 Modelos y datos sensibles
ml_models/
data/
training_log.txt

# 🧪 Resultados de entrenamiento
*.pkl
*.joblib
*.csv
visualizations/

# 🔧 Archivos
